#footer-inner
  #footer-content.row
    .col-xs-12.p
      a.footer-link(target="_blank" href="mailto:index.io[AT]index[DOT]io")
        i.fa.fa-envelope
      | &ensp;&ensp;
      a.footer-link(target="_blank" href="//twitter.com/index-io")
        i.fa.fa-twitter
      | &ensp;&ensp;
      a.footer-link(target="_blank" href="//www.facebook.com/index.io")
        i.fa.fa-facebook
      | &ensp;&ensp;
      a.footer-link(target="_blank" href="//www.github.com/index.io")
        i.fa.fa-github-alt
