#footer-inner
  #footer-content.row
    .col-xs-12.p
      a.footer-link(href="mailto:amidst[AT]amidst[DOT]io" target="_blank")
        i.fa.fa-envelope
      | &ensp;&ensp;
      a.footer-link(href="//twitter.com/amidst" target="_blank")
        i.fa.fa-twitter
      | &ensp;&ensp;
      a.footer-link(href="//www.facebook.com/amidst" target="_blank")
        i.fa.fa-facebook
      | &ensp;&ensp;
      a.footer-link(href="//www.github.com/amidst" target="_blank")
        i.fa.fa-github-alt
