#main.single-view
  header#header

  section#content
    .row
      .col-xs-12
        a(href="/")
          h2 index.io
        h3 example apps

    .vspace
    .vspace
    .vspace
    .vspace
    .vspace
    .vspace
    .vspace
    .vspace

    .row
      .example
        a(href="/proximity")
          p proximity
      .example
        a(href="/follow-suggest")
          p
            i.fa.fa-twitter.fa-lg
            | &ensp;follow-suggest
      //-.example
        //-a(href="/newsfeed-plus")
          //-p
            //-i.fa.fa-facebook.fa-lg
            //-| &ensp;newsfeed-plus
      //-.example
        //-a(href="/meetups")
          //-p meetups

