#main.single-view
  header#header

  section#content
    .row
      .col-xs-12
        h2 amidst
        h3 example apps

    .vspace
    .vspace

    .row
      .example
        a(href="/examples/proximity")
          p proximity
      .example
        a(href="/examples/auto-follow")
          p auto-follow (twitter)
      .example
        a(href="/examples/livegraph")
          p livegraph
      .example
        a(href="/examples/foursquare-plus")
          p foursquare-plus

