@import 'sass-bootstrap/lib/variables'
@import '../layout/variables'

@import 'sass-bootstrap/lib/mixins'


#content
  &, p, .p
    transition: all 0.4s ease-in
  .example
    display: inline-block
    width: 100%
    max-width: 15rem
    vertical-align: middle

    height: 5rem

    p
      line-height: 5rem

    &:hover
      p
        font-weight: bold
      background-color: darken($gray-lighter, 5%)
      animation: pulse .3s

  #pitch
    text-align: left
    white-space: normal
    padding: 0 5rem

    p
      text-indent: 3rem
